#root{
  width: 100% !important;
  height: 100% !important;
}

*{
  text-shadow: none;
}
html, body{
  background: #343a40 !important;
}
html{height: 0 !important;}

.card{
  min-height: 200px;
}

.light-circle{
  height:20px;
  width: 20px;
  background: #007bff;
  border-radius: 5px;
}

